
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<header>
  <div class="container header-container">
    <div class="header-content header-content-np">
      <div class="subject-name-code">
        <h1><%= locals.subjectName %></h1>
        <br />
        <h9><%= locals.subjectCode %></h9>
      </div>



      <div class="lowerheader-wrftsbutton">
        <div class="lower-header-part">
          <h2>
            <%= (reviews.length>=1) ? `${reviews.length} reviews` : `0 review`%>
            <b>|</b> Overall
          </h2>

          <div class="star-review">
            <% if(avg_rating > 0){ %>
              <% for(let i = 0; i < avg_rating; i++){ %>
                <span class="material-symbols-outlined">star</span>
              <% } %>
              <% for(let j = 0; j < 5-avg_rating; j++){ %>
                <span class="material-symbols-outlined" style="color: #ffffff;">star</span>
              <% } %>
              <% } else{ %> 
                <% for(let j = 0; j < 5; j++){ %>
                  <span class="material-symbols-outlined" style="color: #ffffff;">star</span>
                <% } %>
              <% } %>
          </div>
        </div>
        <button id="window" style="
      background: #6A4873;
      cursor: pointer;
      margin:10px;
      color: #ffffff;
      border: none;
      width: 140px;
      height: 55px;
      font-size: 18px;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      ">Write a review for this subject</button>
 
      </div>
    </div>
  </div>
</header>


<style>
  #pop {
      display: none;
      width: 60%;
      height: 650px;
      background: #3b3b3b;
      position: absolute;
      left: 20%;
      top: 15%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #pop h1{
        text-align: center;
        color: #fff;
        font-size:35px;
        font-weight: normal;
        padding-top: 20px;


    }
  #pop label{
    font-weight: lighter;
    


  }
  #pop .form-field{
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 30px;
}

  #pop .each-field{
    color: #fff;
    font-size: 22px;
    font-weight: lighter;

}




#pop .star-review{
  width: 29%;

}

#pop .star-review input{
  display: none;
}

#pop .star-review label{
  float: right;
  padding-right:5px;
  padding-bottom: 20px;
  font-size:40px;
  color: var(--font-color)
  

}

#pop input:checked ~ label{
  color:var(--star-review-color)
}

#pop input:not(:checked) ~label:hover
#pop input:not(:checked) ~label:hover ~label{
  color:var(--star-review-color)
}





  #cancle {      
      background: #3b3b3b;
      color: #ffffff;
      border: none;
      width: 100px;
      height: 40px;
      font-size: 20px;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
  .save {
      background: #6A4873;
      color: #ffffff;
      border: none;
      width: 100px;
      height: 40px;
      font-size: 20px;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  </style>



    
    <script>
      $("#window").click(function() {
          $('#pop').show();
      })
    
      $("#cancle").click(function() {
          $('#pop').hide();
      })
      $("#save").click(function() {
          $('#pop').hide();
          
      })
  
    </script>



 <!-- review your subject pop window-->
 <form id="pop" action="/subject/<%=subjectCode%>/write_review" method="POST">

  <h1>Review your subject</h1>
      <br>
      <br>

      <div style="padding-left: 15%">
          <ul>
              <li><label for="subjectCode" style="font-size: 26px;">Subject</label></li>
              <li><label for="subjectCode" style="font-size: 26px; font-weight:normal ;"><%= locals.subjectCode %> <%= locals.subjectName %></label></li>
          </ul>
          <br>
  
          <ul>
              <li><label for="rating" style="font-size: 26px;">Rate</label>
              <li>
                <div class="star-review">
                  <input type="radio" id="star5" name="rating" value="5" /><label
                    for="star5"
                    class="fa fa-star full"
                  ></label>
                  <input type="radio" id="star4" name="rating" value="4" /><label
                    for="star4"
                    class="fa fa-star full"
                  ></label>
                  <input type="radio" id="star3" name="rating" value="3" /><label
                    for="star3"
                    class="fa fa-star full"
                  ></label>
                  <input type="radio" id="star2" name="rating" value="2" /><label
                    for="star2"
                    class="fa fa-star full"
                  ></label>
                  <input type="radio" id="star1" name="rating" value="1" /><label
                    for="star1"
                    class="fa fa-star full"
                  ></label>
                </div>
                  
              </li>
          </ul>
          <br>
  
          <ul>
              <li> <label for="content"  style="font-size: 26px;">Review body:</label>
               </li>
              <li>
                <textarea name="content" class="each-field big-form" style="width:75%;
                height:220px;
                background-color: #1e1e1e;
                
                
                "> </textarea>
              </li>
          </ul>


          <div style="display:inline-flex;">
            <div>
              <input style="width: 30px; height: 30px" name="visible" type="checkbox" />
              <label style="margin-top: -6px; font-size: 26px;" for="visible">Visible</label>
            </div>
            <div style="padding-left: 20px;">
              <input style="width: 30px; height: 30px" name="private" type="checkbox" />
              <label style="margin-top: -6px; font-size: 26px;" for="private" >Private</label>
            </div>
          </div>

          <br>
          <br>
          <div style="text-align: center; padding-right: 20%">  
            <a href="/subject/<%= locals.subjectCode %> " class="write-review-button big-buttn" id="cancel"
        >Close</a
      >
            <button class="save" >Submit</button>
                    
           </div>
      </div>

      

  

</form>