<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review: <%=locals.title%></title>
    <link rel="stylesheet" href="/style/homepage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,1,0"
    />
  </head>
  <body>
    <%- include('../partials/_navbar') %> <%-
    include('../partials/_student-view-review-header') %>
    <section class="review-section">
      <div class="container review-container-moderator">
        <% same_subjectcode.forEach(same => { %>
        <article class="each-review each-review-big">
          <h7
            ><b style="font-size: 30px">Example(Myself) </b> <%=
            same.createdAt.toLocaleDateString() %></h7
          >

          <div class="star-review star-review-big">
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
            <span class="material-symbols-outlined">star</span>
          </div>

          <div class="review-container">
            <p><%= same.content %></p>
          </div>

          <div class="review-footer view-review-footer view-review-footer-2to1">
            <div class="like-reply-remove">
              <button class="like-button like-button-color small-buttn">
                <img src="/assets/img/Like symbol.png" />111
              </button>
              <h8>2 Replies</h8>
            </div>
            <form
              action="/student/subject/<%= same.subjectCode %>/<%= same.id %>?_method=DELETE"
              method="POST"
            >
              <button class="remove-button-color small-buttn">Remove</button>
            </form>
          </div>
        </article>

        <% }) %>
      </div>
    </section>
  </body>
</html>
